<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset password</title>
    <style>
        .head{
            color: rgb(8, 92, 92);
            font-size: 25px;
        }
        .para{
            color: rgb(204, 123, 25);
            font-size: 20px;
        }
    </style>
</head>
<body>
    <div class="head">
        <h1 class="head1">
            Welcome to Fun Doo Notes Api
        </h1>
        <p class="para">
            Here you can reset your password</p>
        <p class="para">
            Please click on the button to reset your password.
        </p>
    </div>
</body>
</html>